/* Tüm varsayılan margin ve paddingleri sıfırlayın */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* İçeriği header ve menülerin altına itmek için */
.content {
  padding-top: 43px; /* Header'ın ve menünün yüksekliği kadar boşluk */
}

/* Genel form stilleri */
form {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

form h2 {
  text-align: center;
}

form input {
  width: 90%; /* Form inputlarının genişliği */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

/* Forgot password linki */
.forgot-password-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: darkgray;
}

/* Hata ve başarı mesajları */
.message {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

/* Header bileşeni */
.header {
  background-color: #042141; /* Soft lacivert */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* padding ve border dahil genişlik hesaplaması */
  position: fixed; /* Sayfanın tepesine sabitlemek için */
  top: 0; /* Sayfanın en üstüne yerleştirmek için */
  z-index: 1000; /* Header'ın diğer öğelerin üstünde olması için */
}

.header h1 {
  margin: 0;
}

.header nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

/* Admin menüsü stilleri */
.admin-menu {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 60px; /* Header'ın hemen altında görünecek şekilde boşluk bırak */
}

.admin-menu nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.admin-menu nav a:hover {
  text-decoration: underline;
}
